Package: com.ariel.shortlookbugfix
Name: ShortLook unlock fix
Depends: mobilesubstrate, co.dynastic.ios.tweak.shortlook
Version: 0.1
Architecture: iphoneos-arm
Description: Fix a bug where the device stays unlocked after receiving a notification from ShortLook‫.‬
Maintainer: Ariel
Author: Ariel
Section: Tweaks
